body {
	background-color: #EEE;
	padding: 2rem;
}
section {
	display:flex;
	flex-wrap:wrap;
	gap: 1em;
	
}

.header {
	width: 100%;
	background-color: #FFF;
	padding-top: 1em;
	padding-left: 1em;
	padding-bottom: 5em;
	border-radius: 0.4rem;
}

.main {
	width: 70%;
	padding-top: 1em;
	padding-left: 1em;
	padding-bottom: 12em;
	border-radius: 0.4rem;
	background-color: #FFF;
}

.aside {
	width: 25.7%;
	padding-top: 1em;
	padding-left: 1em;
	padding-bottom: 12em;
	border-radius: 0.4rem;
	background-color: #FFF;
}

.footer {
	width: 100%;
	padding-top: 1em;
	padding-left: 1em;
	padding-bottom: 5em;
	border-radius: 0.4rem;
	background-color: #FFF;
}
