@media (max-width:600px) {
    
    header nav {
        margin-top:1.4em;
    }
    
    header nav ul {
        display:flex;
        flex-direction:column;
    }

    header nav ul li {
        padding-bottom: 0.6em;
        text-align: center;;
    }

    .header-title {
        padding: 1em 0;
    }

    .header-title h1 {
        font-size: 38px;
    }

    .header-title p {
        font-size: 18px;
    }

    .choose-us ul {
        flex-direction: column;
    }

    .choose-us ul li p {
        width: 65%;
        margin:0 auto;
        padding-bottom: 1.2em;
    }

    .about-us p:nth-child(3) {
        width: 90%
    }

    .team-description-wrapper, .about-us {
        width: 62%;
    }

    .team-description ul {
        gap:4em;
    }

    .team-description ul li img {
        width: 140px;
        height: 170px;
    }
}