html {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
}

section {
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
    margin: 100px auto;
 }

h2 {
    font-family: Georgia, serif;
    line-height: 1.2;
    margin: 20px;
}

p {
    margin: 20px;
}