
html {
    font-family: Helvetica, sans-serif;
}

header {
	display: flex;
	align-items: center;
}
header h1 {
    text-transform: uppercase;
	padding-right: 120px;

}

nav li {
    display: inline-block;
    padding-right: 20px;
	
	
}


main {
    padding:20px;
    margin: 20px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: green;
}
